# File: requirements.txt

# Core Data Handling
pandas
numpy

# Plotting & Visualization
matplotlib
seaborn

# Notebook Environment (for interactive development)
notebook
jupyterlab

# Add other libraries later as needed:
scikit-learn
statsmodels
prophet
requests
Flask
Streamlit
Dash 

# For loading environment variables from .env file
python-dotenv

# Testing
pytest
pytest-mock

# For YAML configuration files
PyYAML

holidays<1.0